@using MARS_Repository.ViewModel
@model List<TestSuiteListByProject>

@if (Model != null)
{
    foreach (TestSuiteListByProject item in Model)
    {
       
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item lsTestCase context-menu-TestSuite" aria-haspopup="true">
                    <a  class="kt-menu__link kt-menu__toggle context-TestSuite" title="@item.TestSuiteDesc" data-Project-Id="@item.ProjectId"  data-name="@item.TestsuiteName" data-id="@item.TestsuiteId" onclick="GetTestCase(@item.ProjectId,@item.TestsuiteId,this)" >
                        <span class="kt-menu__link-icon">
                            <i class='fa fa-folder-plus'></i>
                        </span>

                        <span class="kt-menu__link-text">@item.TestsuiteName <span class="tscount"> (@item.TestCaseCount)</span></span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                       
                    </div>
                </li>
            </ul>
       
    }


}

