@*@using MARS_Repository.ViewModel*@
@using MarsSerializationHelper.ViewModel
@model List<ProjectByUser>
@if (Model != null)
{
    foreach (ProjectByUser item in Model)
    {
        <li class="kt-menu__item  kt-menu__item context-menu-Project" id="lProjectName" aria-haspopup="true">
            <a href="@Url.Action("","")" class="kt-menu__link kt-menu__toggle context-Project" title="@item.ProjectDesc" data-name="@item.ProjectName" data-id="@item.ProjectId">
                <span class="kt-menu__link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                            <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                </span><span class="kt-menu__link-text">@item.ProjectName</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true">
                        <span class="kt-menu__link">
                            <span class="kt-menu__link-text">@item.ProjectName</span>
                        </span>
                    </li>
                    @*<li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                <span class="kt-menu__link-icon">  <i class="fa fa-folder"></i></span><span class="kt-menu__link-text">Dashboard</span>
                            </a>
                        </li>*@
                    <li class="kt-menu__item  kt-menu__item--submenu lsstoryboardAll context-menu-StoryboardAll " aria-haspopup="true" data-ktmenu-submenu-toggle="hover">

                        <a class="kt-menu__link kt-menu__toggle context-StoryboardAll" data-ts-pj-id="@item.ProjectId" onclick="GetStoryboard(@item.ProjectId,this)">
                            <span class="kt-menu__link-icon">
                                <i class="fa fa-folder"></i>
                            </span>
                            <span class="kt-menu__link-text">StoryBoards (@item.StoryBoardCount)</span>
                            <i class="kt-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="kt-menu__submenu">

                        </div>

                    </li>
                    <li class="kt-menu__item  kt-menu__item--submenu lsTestSuite " aria-haspopup="true" data-ktmenu-submenu-toggle="hover">

                        <a class="kt-menu__link kt-menu__toggle " data-ts-pj-id="@item.ProjectId" onclick="GetTestSuite(@item.ProjectId,this)">
                            <span class="kt-menu__link-icon">
                                <i class="fa fa-folder"></i>
                            </span>
                            <span class="kt-menu__link-text">Test Suites (@item.TestSuiteCount)</span>
                            <i class="kt-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="kt-menu__submenu">

                        </div>

                    </li>
                </ul>
            </div>
        </li>

    }
}
@*<li class="kt-menu__item  kt-menu__item" aria-haspopup="true">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </span><span class="kt-menu__link-text">Opics Test</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Opics Test</span></span></li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder"></i></span><span class="kt-menu__link-text">Dashboard</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Storyboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Deal Reverse</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic Fixed Income Position</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic EOD Batch</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Fixed Income Short</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Foreign Exchange</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">

                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Test Suites</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>

                                    <span class="kt-menu__link-text">Create Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Bond Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>

                                                            <span class="kt-menu__link-text">Bond Trade 1</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">FX Spot Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Opics FX FWD Entry</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">OPICS FXTE FX FWD</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">OPICS ADMIN II</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Active Trade Via Loop</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Accept SI</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Authorize</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics CFFI</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">CFFI SDSF IMTF</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">CFFI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics COIQ</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">COIQ Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">COIQ Verify</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>*@

@*<li class="kt-menu__item  kt-menu__item" aria-haspopup="true">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </span><span class="kt-menu__link-text">Opics Test</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Opics Test</span></span></li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder"></i></span><span class="kt-menu__link-text">Dashboard</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Storyboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Deal Reverse</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic Fixed Income Position</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic EOD Batch</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Fixed Income Short</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Foreign Exchange</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">

                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Test Suites</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>

                                    <span class="kt-menu__link-text">Create Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Bond Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>

                                                            <span class="kt-menu__link-text">Bond Trade 1</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">FX Spot Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Opics FX FWD Entry</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">OPICS FXTE FX FWD</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">OPICS ADMIN II</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Active Trade Via Loop</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Accept SI</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Authorize</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics CFFI</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">CFFI SDSF IMTF</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">CFFI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics COIQ</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">COIQ Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">COIQ Verify</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="kt-menu__item  kt-menu__item" aria-haspopup="true">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </span><span class="kt-menu__link-text">Opics Fixed Income</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Opics Test</span></span></li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder"></i></span><span class="kt-menu__link-text">Dashboard</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Storyboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Deal Reverse</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic Fixed Income Position</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic EOD Batch</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Fixed Income Short</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Foreign Exchange</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Test Suites</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Create Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Bond Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 1</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">FX Spot Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Opics FX FWD Entry</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">OPICS FXTE FX FWD</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">OPICS ADMIN II</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Active Trade Via Loop</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Accept SI</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Authorize</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics CFFI</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">CFFI SDSF IMTF</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">CFFI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics COIQ</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">COIQ Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">COIQ Verify</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="kt-menu__item  kt-menu__item" aria-haspopup="true">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </span><span class="kt-menu__link-text">Opics Security Lending</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Opics Test</span></span></li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder"></i></span><span class="kt-menu__link-text">Dashboard</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Storyboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Deal Reverse</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic Fixed Income Position</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic EOD Batch</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Fixed Income Short</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Foreign Exchange</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Test Suites</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Create Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Bond Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 1</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">FX Spot Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Opics FX FWD Entry</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">OPICS FXTE FX FWD</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">OPICS ADMIN II</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Active Trade Via Loop</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Accept SI</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Authorize</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics CFFI</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">CFFI SDSF IMTF</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">CFFI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics COIQ</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">COIQ Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">COIQ Verify</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li class="kt-menu__item  kt-menu__item" aria-haspopup="true">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <span class="kt-menu__link-icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </span><span class="kt-menu__link-text">Opics Batch Security</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Opics Test</span></span></li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder"></i></span><span class="kt-menu__link-text">Dashboard</span>
                    </a>

                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Storyboard</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Deal Reverse</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic Fixed Income Position</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opic EOD Batch</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Fixed Income Short</span></a></li>
                            <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><span class="kt-menu__link-icon"><i class="flaticon2-file-2"></i></span><span class="kt-menu__link-text">Opics Foreign Exchange</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                        <span class="kt-menu__link-icon">  <i class="fa fa-folder-open"></i></span>
                        <span class="kt-menu__link-text">Test Suites</span>
                        <i class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="kt-menu__submenu ">
                        <span class="kt-menu__arrow"></span>
                        <ul class="kt-menu__subnav">
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Create Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Bond Trade 1</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 1</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Bond Trade 2</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">FX Spot Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Opics FX FWD Entry</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">OPICS FXTE FX FWD</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">OPICS ADMIN II</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">Active Trade Via Loop</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Accept SI</span>
                                                        </a>
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">Active Trade Via Loop Authorize</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics CFFI</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">CFFI SDSF IMTF</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">CFFI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="kt-menu__item " aria-haspopup="true">
                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                    <span class="kt-menu__link-icon">
                                        <i class="flaticon-folder"></i>
                                    </span>
                                    <span class="kt-menu__link-text">Opics COIQ</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="kt-menu__submenu ">
                                    <span class="kt-menu__arrow"></span>
                                    <ul class="kt-menu__subnav">
                                        <li class="kt-menu__item " aria-haspopup="true">
                                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                                <span class="kt-menu__link-icon">
                                                    <i class="flaticon2-file-2"></i>
                                                </span>
                                                <span class="kt-menu__link-text">COIQ Verify</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
                                            </a>
                                            <div class="kt-menu__submenu ">
                                                <span class="kt-menu__arrow"></span>
                                                <ul class="kt-menu__subnav">
                                                    <li class="kt-menu__item " aria-haspopup="true">
                                                        <a href="#" class="kt-menu__link ">
                                                            <span class="kt-menu__link-icon"><i class="flaticon-list-1"></i></span>
                                                            <span class="kt-menu__link-text">COIQ Verify</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>*@
