
<script src="~/assets/js/pages/crud/forms/widgets/select2.js"></script>

@model MARS_Repository.ViewModel.UserModel


@{
    if (Model.TESTER_ID > 0)
    {
        ViewBag.Title = "Edit User";
    }
    else
    {
        ViewBag.Title = "Add User";
    }
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader" style="left: @ViewBag.width;">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-settings" style="color:#1c6081"></i></a>
                <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                    Settings
                </a>
                <i class="fa fa-angle-double-right" style="color:#1c6081"></i>
                <a href="#" class="kt-subheader__breadcrumbs-link" style="color:#1c6081">
                    &nbsp;User List
                </a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3>
                            @ViewBag.Header
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form kt-form--label-right" id="kt_form_2" name="registration">
                    <div class="kt-portlet__body">
                        <div class="form-group form-group-last kt-hide">
                            <div class="alert alert-danger" role="alert" id="kt_form_2">
                                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                <div class="alert-text">
                                    Oh snap! Change a few things up and try submitting again.
                                </div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.TESTER_ID)
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">First Name<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                @Html.TextBoxFor(m => m.TESTER_NAME_F, new { @class = "form-control", @id = "Firstname", @required = "required", @maxlength = 64 })
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Middle Name</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                @Html.TextBoxFor(m => m.TESTER_NAME_M, new { @class = "form-control", @id = "Middlename", @maxlength = 64 })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Last Name</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                @Html.TextBoxFor(m => m.TESTER_NAME_LAST, new { @class = "form-control", @id = "LastName", @maxlength = 64 })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Company Name<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-12">


                                @Html.DropDownListFor(model=>model.COMPANY_ID, ViewBag.listCompany as IEnumerable<SelectListItem>,"--Select--",
                                    new {@id= "COMPANY_ID",@name="CompanyId",
                                        @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Email Address<span style="color:red">&nbsp;*</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                @Html.TextBoxFor(m => m.TESTER_MAIL, new { @class = "form-control", @id = "EmailId", @required = "required", @onchange = "CheckEmailExist()", @maxlength = 64 })
                                <div id="EmailExisterror" class="error" style="display: none;width: 100%;margin-top: 0.25rem;font-size: 80%;color: #fd397a;">Email already exist.</div>
                            </div>
                        </div>

                        @if (Model.TESTER_ID > 0)
                        {

                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">User Name<span style="color:red">&nbsp;*</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    @Html.TextBoxFor(m => m.TESTER_LOGIN_NAME, new { @class = "form-control", @id = "Username", @required = "required", @onchange = "CheckLoginNameExist()", disabled = "true" })
                                    <div id="Existerror" class="error" style="display: none;width: 100%;margin-top: 0.25rem;font-size: 80%;color: #fd397a;">User Name already exist.</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Active </label>
                                <div class="col-3">
                                    @if (Model.STATUS == 0)
                                    {<span class="kt-switch">
                                            <label>
                                                @*@Html.CheckBoxFor(m=>m.STATUS, new { @class = "form-control", @id = "ischecked" })*@
                                                <input type="checkbox" id="ischecked" name="" />

                                                <span></span>
                                            </label>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="kt-switch">
                                            <label>
                                                @*@Html.CheckBoxFor(m=>m.STATUS, new { @class = "form-control", @id = "ischecked" })*@
                                                <input type="checkbox" id="ischecked" checked="checked" name="" />

                                                <span></span>
                                            </label>
                                        </span>}

                                </div>

                            </div>
                        }
                        @if (!(Model.TESTER_ID > 0))
                        {
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Active </label>
                                <div class="col-3">
                                    <span class="kt-switch">
                                        <label>

                                            <input type="checkbox" id="ischecked" checked="checked" name="ischecked" value="true" />
                                            <input type="checkbox" hidden="hidden" id="ischecked12" name="ischecked" value="false" />
                                            <span></span>
                                        </label>
                                    </span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">User Name<span style="color:red">&nbsp;*</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    @Html.TextBoxFor(m => m.TESTER_LOGIN_NAME, new { @class = "form-control", @id = "Username", @required = "required", @onchange = "CheckLoginNameExist()" })
                                    <div id="Existerror" class="error" style="display: none;width: 100%;margin-top: 0.25rem;font-size: 80%;color: #fd397a;">User Name already exist.</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">Password<span style="color:red">&nbsp;*</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    @Html.PasswordFor(m => m.TESTER_PWD, new { @class = "form-control", @id = "Password", @name = "Password", @required = "required" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">Confirm Password</label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="password" class="form-control" name="cpassword" id="cpassword">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-lg-3 col-sm-12">Select Role<span style="color:red">&nbsp;*</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <select class="form-control kt-select2" id="suDrpURole" name="suDrpURole" multiple="multiple" style="border-color:#59c0e7 !important">
                                        @{var lRolesList = ViewBag.rolelist as IEnumerable<SelectListItem>;

                                            <optgroup id="roles" label="Roles">
                                                @foreach (var item in lRolesList)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>
                            </div>
                        }



                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    @if (Model.TESTER_ID > 0)
                                    {
                                        <button type="submit" class="btn btn-outline-brand btn-elevate btn-pill" id="btnAdd">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-outline-brand btn-elevate btn-pill" id="btnAdd">Create</button>
                                    }
                                    <button type="reset" class="btn btn-outline-brand btn-elevate btn-pill" onclick="resetFields()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#kt_form_2").validate({
            rules: {
                TESTER_NAME_F: {
                    required: true
                },

                TESTER_MAIL: {
                    required: true,
                    email: true

                },
                COMPANY_ID: {
                    required: true
                },
                TESTER_LOGIN_NAME: {
                    required: true
                },
                TESTER_PWD: {
                    required: true,
                    minlength: 5,
                    pwcheck: true,
                },
                cpassword: {
                    equalTo: "#Password",
                }


            },
            messages: {
                TESTER_PWD: {
                    pwcheck: "Please enter atleast one digit, one UpperCase letter, one LowerCase letter and one special character",
                },
            },
            invalidHandler: function (event, validator) {
                swal.fire({
                    "title": "",
                    "text": "There are some invalid entries. Please correct and submit again",
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary",
                    "onClose": function (e) {
                        console.log('on close event fired!');
                    }
                });

                event.preventDefault();
            },
        });
        $.validator.addMethod("pwcheck", function (value) {
            return /^[A-Za-z0-9\d=!\-@@._*]*$/.test(value) // consists of only these
                && /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
        });
        $("#frmpassword").validate({
            rules: {
                oldPassword: {
                    required: true,
                    minlength: 5,
                },
                newPassword: {
                    required: true,
                    minlength: 5,
                },
                cPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#newPassword",
                },
            },
            invalidHandler: function (event, validator) {
                swal.fire({
                    "title": "",
                    "text": "There are some invalid entries. Please correct and submit again.",
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary",
                    "onClose": function (e) {
                        console.log('on close event fired!');
                    }
                });

                event.preventDefault();
            },
        });


        $("#btnAdd").click(function () {
            if (!$("#kt_form_2").valid()) {
                return false;
            }
            if ($("#kt_form_2").valid()) {
                $("#btnAdd").attr("disabled", true);

                var userObj = {};

                userObj.TESTER_ID = $("#TESTER_ID").val(),
                    userObj.TESTER_NAME_LAST = $("#LastName").val(),
                    userObj.TESTER_NAME_M = $("#Middlename").val(),
                    userObj.TESTER_NAME_F = $("#Firstname").val(),
                    userObj.TESTER_MAIL = $("#EmailId").val(),
                    userObj.TESTER_LOGIN_NAME = $("#Username").val(),
                    userObj.TESTER_PWD = $("#Password").val(),
                    userObj.COMPANY_ID = $("#COMPANY_ID").val(),
                    userObj.AVAILABLE_MARK = $("#ischecked").val();

                if ($('#suDrpURole').val() != undefined)
                        userObj.RoleIds = $('#suDrpURole').val().toString();

                if (($('#ischecked').is(":checked"))) {
                    userObj.AVAILABLE_MARK = 1;
                }
                else {
                    userObj.AVAILABLE_MARK = 0;
                }

                var t_TESTER = JSON.stringify(userObj);

                $.ajax({
                    url: "/Accounts/AddEditUser",
                    data: JSON.stringify(userObj),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 1) {
                            RightSideUserGrid();
                            swal.fire({
                                "title": "",
                                "text": result.message,
                                "type": "success",
                                "onClose": function (e) {
                                    console.log('on close event fired!');
                                }
                            });
                        }
                        else if (result.status == 0) {
                            swal.fire({
                                "title": "",
                                "text": result.message,
                                "type": "error",
                                "onClose": function (e) {
                                    console.log('on close event fired!');
                                }
                            });
                        }
                        $("#btnAdd").attr("disabled", false);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        });
    });

    $("#Username").on('keyup', function () {
        $("#Existerror").css("display", "none");
    });
    $("#EmailId").on('keyup', function () {
        $("#EmailExisterror").css("display", "none");
    });
    function CheckLoginNameExist() {
        var pLoginName = $("#Username").val();
        var TESTER_ID = $("#TESTER_ID").val();

        $.ajax({
            url: "/Accounts/CheckLoginNameExist",
            data: '{"lLoginName":"' + pLoginName + '","lLoginId":"' + TESTER_ID + '"}',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.status == 1 && result.data) {
                    $("#Username").val("");
                    $("#Existerror").css("display", "block");
                } else if (result.status == 0) {
                    swal.fire({
                        "title": "",
                        "text": result.message,
                        "type": "error",
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }
            },
        });
    }
    function CheckEmailExist() {

        var pEmail = $("#EmailId").val();
        var TESTER_ID = $("#TESTER_ID").val();

        $.ajax({
            url: "/Accounts/CheckEmailExist",
            data: '{"lLoginEmail":"' + pEmail + '","lLoginId":"' + TESTER_ID + '"}',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.status == 1 && result.data) {
                    $("#EmailId").val("");
                    $("#EmailExisterror").css("display", "block");
                } else if (result.status == 0) {
                    swal.fire({
                        "title": "",
                        "text": result.message,
                        "type": "error",
                        "onClose": function (e) {
                            console.log('on close event fired!');
                        }
                    });
                }
            },
        });
    }
    function resetFields() {
        var id = $("#TESTER_ID").val();
        if (id == "" || id == "0") {
            $("#LastName").val(""),
                $("#Middlename").val(""),
                $("#Firstname").val(""),
                $("#EmailId").val(""),
                $("#Username").val(""),
                $("#Password").val(""),
                $("#COMPANY_ID").val(""),
                $("#suDrpURole").val(""),
                $("#suDrpURole").select2();
        }
    }
</script>
